@page "/"

<PageTitle>Home</PageTitle>

<h1>Car Rental System</h1>

<p class="text-muted">
    Manage customers, cars, rentals and payments.
</p>

<div class="row mt-4">

    <div class="col-md-3 mb-3">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Customers</h5>
                <p class="card-text">Manage customer information.</p>
                <a href="/customers" class="btn btn-primary">
                    View Customers
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-3 mb-3">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Cars</h5>
                <p class="card-text">Manage available and rented cars.</p>
                <a href="/cars" class="btn btn-primary">
                    View Cars
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-3 mb-3">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Rentals</h5>
                <p class="card-text">Create and manage car rentals.</p>
                <a href="/rentals" class="btn btn-primary">
                    View Rentals
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-3 mb-3">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Payments</h5>
                <p class="card-text">Manage rental payments.</p>
                <a href="/payments" class="btn btn-primary">
                    View Payments
                </a>
            </div>
        </div>
    </div>

</div>